.movie-card{
  height: 65vh;
  width: 20vw;
  overflow: none;
}

.img-container{
  height: 50%;
}

img{
  object-fit: cover;
  margin: auto;
  height: 100%;
  width: 100%;
}

button:disabled{
  color: black;
}
