<button [attr.disabled]="buttonDisabled ? true : null" [routerLink]="['/reservation', movie.id]" class="container border border-dark  rounded bg-light movie-card m-2 p-1 overflow-auto">
  <div class="row container-fluid img-container m-0 p-0">
    <img class="rounded p-0" [src]="movie.moviePoster">
  </div>
  <div class="row container-fluid m-0 p-0">
    <h4 class="container-fluid">{{movie.title}}</h4>
    <div class="container-fluid ml-0 pl-0 text-justify">
      <div Class="row ml-0 pl-0">
        <div class="col ml-0 pl-0">Genre: </div>
        <div class="col ml-0 pl-0">{{movie.genre}}</div>
      </div>
      <div Class="row ml-0 pl-0">
      <div class="col ml-0 pl-0">Varighed: </div>
      <div class="col ml-0 pl-0">{{movie.duration}}</div>
    </div>
      <div class="row ml-0 pl-0">
        <div class="col ml-0 pl-0">Udgivet: </div>
        <div class="col ml-0 pl-0">{{movie.releaseDate | date}}</div>
      </div>
    </div>
  </div>
</button>
