.seat{
  height: 55px;
  width: 55px;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}

.seat img{
  height: 50px;
  width: 50px;
}

img{
  position: relative;
  left: 0;
  top: 0;
}

p{
  margin: 0;
  padding: 0;
}
