<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand icon" href="#"><img src="/assets/images/beeIcon.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/mainpage']">Beeografen</a>
      </li>
      <li *ngIf="auth.isAuthenticated$" class="nav-item">
        <a class="nav-link" [routerLink]="['/user']">Min Bruger</a>
      </li>
      <li *ngIf="auth.isAuthenticated$" class="nav-item">
        <a class="nav-link" href="#">Mine Billetter</a>
      </li>
      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <li class="nav-item">
          <a class="nav-link" (click)="auth.logout({ returnTo: document.location.origin })">
            Log out
          </a>
        </li>
      </ng-container>
      <ng-template #loggedOut>
        <li class="nav-item">
          <a class="nav-link" (click)="auth.loginWithRedirect()">Log in</a>
        </li>
      </ng-template>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        </div>
    </ul>
  </div>
</nav>
