<div class="container-fluid mt-4 bg-light rounded user-page">
  <div class="row">
    <form (ngSubmit)="submitUser()">
      <label>Fornavn<input type="text" name="firstname" [(ngModel)]="currentUser.firstname"></label>
      <label>Efternavn<input type="text" name="lastname" [(ngModel)]="currentUser.lastname"></label>
      <label>Fødselsdag<input type="date" name="birthdate" [ngModel]="currentUser.birthdate | date:'yyyy-MM-dd'"(ngModelChange) = "currentUser.birthdate = $event"></label>
      <br>
      <label>Email<input type="email" name="email" [(ngModel)]="currentUser.email"></label>
      <br>
      <button class="submitBtn" type="submit">
        Gem ændringer
      </button>
    </form>
  </div>
</div>
