  <div class="row container p-3">
    <form [formGroup]="movieForm" >
      <label>
        Titel:
        <input type="text" formControlName="title">
      </label>
      <label>
        Genre:
        <select formControlName="genre" >
          <option  value="alle">Alle</option>
          <option [ngValue]="genre"  *ngFor="let genre of genres">
            {{ genre }}
          </option>
        </select>
      </label>
      <button class="button btn btn-secondary ml-2" type="submit" >Søg</button>
    </form>
  </div>
  <app-movie  class="m-3  movie" *ngFor="let movie of movies" [movie]="movie"></app-movie>
