.ticket-container{
  background-color: #eaeaea;
  height: 16vh;
}

.movieTitle{
  margin-bottom: 2;
}

.movieDetail{
  margin: 0;
}

.ticketPoster{
  height: 16vh;
  width: auto;
  object-fit: contain;
  float: inline-end;
}
