<h3 *ngIf="selectedMovie.id; else elseBlock">Rediger Film</h3>
<ng-template #elseBlock>
  <h3 >Opret ny Film</h3>
</ng-template>
  <div class="row m-3">
    <form>
      <div class="row">
        <div class="col">
          <label>Id<input disabled class="form-control" type="text" name="id" [(ngModel)]="selectedMovie.id"></label>
        </div>
        <div class="col">
          <label>Titel<input class="form-control" type="text" name="title" [(ngModel)]="selectedMovie.title"></label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Genre<input class="form-control" type="number" name="genreId" [(ngModel)]="selectedMovie.genreId"></label>
        </div>
        <div class="col">
          <label>Plakat<input class="form-control" type="string" name="moviePoster" [(ngModel)]="selectedMovie.moviePoster"></label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Længde<input class="form-control" type="string" name="duration" [(ngModel)]="selectedMovie.duration"></label>
        </div>
        <div class="col">
          <label>Udgivelses Dato<input class="form-control" type="date" name="releaseDate" [ngModel]="selectedMovie.releaseDate  | date:'yyyy-MM-dd'" (ngModelChange) = "selectedMovie.releaseDate = $event"></label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Aldersgrænse<input class="form-control" type="number" name="ageRating" [ngModel]="selectedMovie.ageRating"></label>
        </div>
        <div class="col"></div>
      </div>
      <div class="mt-3 row">
          <button [attr.disabled]="!selectedMovie.id ? true : null" class="button btn btn-secondary ml-2" type="reset">
            Afbryd
          </button >
          <button *ngIf="selectedMovie.id; else newMovie" class="button btn btn-primary ml-2" (click)="submitMovie()" type="button">
            Gem ændringer
          </button>
          <ng-template #newMovie>
            <button class="button btn btn-primary ml-2" (click)="submitNewMovie()" type="button">
              Opret Film
            </button>
          </ng-template>
      </div>
      <div class="row">
        <div *ngFor="let movie of resultSet" class="alert alert-success col alert-dismissible fade show" role="alert">
          <p><strong>{{movie.title}}</strong> blev oprettet med Id <strong>{{movie.id}}</strong></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
      </div>
    </form>
  </div>

