<div class="col container-fluid seatSelector pt-2 pb-5 rounded">
  <ul class="center">
    <li >
      <img src="/assets/images/screen.png">
    </li>
    <li class=" border-top border-bottom p-0 border-dark" *ngFor="let row of seatsArray; let i = index">
      <div>

            <div class="float-r">Række {{i + 1}}</div>

              <ul class="float-r seatsInRow center mt-1 mb-2">
                <li class="float-r" *ngFor="let seat of row">
                  <app-seat [seatNumber]="seat.seat" [(taken)]="seat.taken"></app-seat>
                </li>
              </ul>
              &nbsp;Række {{i + 1}}
          </div>
        </li>
      </ul>
    </div>
    <br>
  <button class="btn btn-primary" (click)="submitReservation()" [disabled]="!currentUserId">Book billetter</button>

