/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~css-star-rating/css/star-rating.min.css';

*{
  box-sizing: border-box;
}

input, select{
  width: 200px !important;
}

.ng-invalid:not(form){
  border-left: 5px solid red;
}

.ng-pristine:required{
  border-left: 5px solid yellow;
}

.ng-valid:required{
  border-left: 5px solid rgb(48, 197, 48);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

