<p class="mt-2">{{seatNumber}}</p>
<button class="seat" (click)="toggleSeatSelection()"
[ngClass]=
  "{
    'taken': taken.valueOf() == 0,
    'free': taken.valueOf() == 1,
    'reservedByUser': taken.valueOf() == 2,
    'reservePending': taken.valueOf() == 3
  }"
  [attr.disabled]="taken.valueOf() == 0 ? true : null"
  >
  <img src="/assets/images/chair_transparent.png">
</button>

<!-- 'active': taken.valueOf() == 1 || taken.valueOf() == 3,
'disabled': taken.valueOf() == 0 || taken.valueOf() == 2 -->
