<h3 *ngIf="selectedTheater.id; else elseBlock">Rediger Sal</h3>
<ng-template #elseBlock>
  <h3 >Opret ny Sal</h3>
</ng-template>
  <div class="row m-3">
    <form #theaterForm="ngForm" >
      <div class="row">
        <div class="col form-group">
          <label>Id<input disabled class="form-control" type="text" name="id" id="id" [(ngModel)]="selectedTheater.id" ></label>
        </div>
        <div class="col form-group">
          <label>Navn<input class="form-control" #name="ngModel" type="text" id="name" name="name" #titel="ngModel" [(ngModel)]="selectedTheater.name" required></label>
        </div>
      </div>


      <div class="mt-3 row">
          <button [attr.disabled]="!selectedTheater.id ? true : null" class="button btn btn-secondary ml-2" type="button" (click)="reset()">
            Afbryd
          </button >
          <button *ngIf="selectedTheater.id" class="button btn btn-danger ml-2" (click)="deleteTheater()" type="button">
            Slet Sal
          </button>
          <button *ngIf="selectedTheater.id; else newTheater" class="button btn btn-primary ml-2" (click)="editTheater()" [disabled]="!theaterForm.form.valid" type="submit">
            Gem ændringer
          </button>
          <ng-template #newTheater>
            <button class="button btn btn-primary ml-2" (click)="submitNewTheater()" [disabled]="!theaterForm.form.valid" type="submit">
              Opret Sal
            </button>
          </ng-template>
      </div>
      <!-- <div class="row mt-3">
        <div *ngFor="let movie of resultSet" class="alert alert-success col alert-dismissible fade show" role="alert">
          <p><strong>{{movie.title}}</strong> med Id <strong>{{movie.id}}</strong> blev {{lastAction}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div> -->
    </form>
  </div>

